<ion-header>
  <ion-toolbar>

    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-text padding=".01" color="dark">
  <h3>
    Welcome to iMATter!
  </h3>
  <p>
    Hello, welcome to iMATter! In order to get started, we need some information. Please fill out
    the form below to begin using iMATter.
  </p>

  <p>
    * All new users are placed into a group based on what month their expected due date is in.
    And in order to tailor information provided to you about your pregnancy, we require the number
    of weeks you are currently at in your pregnancy.
  </p>

  <p>
    ** If you would like for us to provide resources to you based on your location, please enter
    your city name. Otherwise, you may leave this blank.
  </p>
</ion-text>

<ion-content>
  <form [formGroup]="signupForm">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
              formControlName="email"
              type="email"
              placeholder="Your email address"
              [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
      >
      </ion-input>
    </ion-item>
    <ion-item
            class="error-message"
            *ngIf="!signupForm.controls['email'].valid
      && signupForm.controls['email'].touched"
    >
      <ion-label>Please enter a valid email.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
              formControlName="password"
              type="password"
              placeholder="Your password"
              [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
      >
      </ion-input>
    </ion-item>
    <ion-item
            class="error-message"
            *ngIf="!signupForm.controls['password'].valid  &&
      signupForm.controls['password'].touched"
    >
      <ion-label>Your password needs more than 6 characters.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input
              formControlName="username"
              placeholder="Username"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Expected Month Due (Number)*</ion-label>
      <ion-input
              formControlName="expectedMonth"
              type="number"
              placeholder="Month"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Current Pregnancy Status in Weeks*</ion-label>
      <ion-input
              formControlName="weeksPregnant"
              type="number"
              placeholder="Number of Weeks"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Location (Optional)**</ion-label>
      <ion-input
              formControlName="location"
              placeholder="Location"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Short Bio (Other Users Can See This)</ion-label>
      <ion-input
              formControlName="bio"
              placeholder="Say Something About Yourself "
      >
      </ion-input>
    </ion-item>

    <ion-button
            expand="block"
            (click)="signupUser(signupForm)"
            [disabled]="!signupForm.valid"
    >
      Create Account
    </ion-button>
  </form>
</ion-content>
