<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let text of chatMessages">
      <ion-item>
        {{text.message}}
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="infoForm">
    <ion-item>
      <ion-input type="text" formControlName="message" placeholder="Enter message"></ion-input>
    </ion-item>
    <ion-button float-right fill="clear" (click)="saveInfo()"><ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon></ion-button>
  </form>
</ion-footer>
