<ion-header>
  <ion-toolbar>
    <ion-title> iMATter </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-toolbar>
    <ion-card>
      <ion-button>
        <ion-icon slot="icon-only" name="circle"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-toolbar>


<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Baby Update</ion-card-subtitle>
        <ion-card-title>Week __</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Here could be something about the baby</p>
      </ion-card-content>
    </ion-card>
</ion-content>
